* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JF Flat;
    font-size: 11px;
}

window#waybar {
    background-color: rgba(15, 17, 8, 0.95);
    border-bottom: 1px solid rgba(15, 17, 8, 0.95);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
 
window#waybar.empty {
    background-color: rgba(28, 27, 26, 0.95);
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 6px 0px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0px -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px -2px #ffffff;
}

#workspaces button.focused {
    color: #0f1108;
    background-color: #AED8E6;
    border-radius: 8px;
    /* box-shadow: inset 0 -2px #ffffff;*/
}

#workspaces button.active {
    color: #0f1108;
    background-color: #CDF7F7;
    border-radius: 8px;
    /* box-shadow: inset 0 -2px #ffffff;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-radius: 8px;
}

#mode {
    color: #0f1108;
    background-color: #BED1DF;
    border-bottom: 1px solid #ffffff;
}

#submap {
    color: #0f1108;
    background-color: #6FCBEC;
    border-bottom: 1px solid #ffffff;
}

#window,
#workspaces {
    margin: 0px 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#temperature,
#bluetooth {
    color: #0f1108;
    background-color: #BED1DF;
    margin: 1px 2px;
    padding: 6px 2px;
    border-radius: 8px;
}

#idle_inhibitor,
#idle_inhibitor.activated {
    color: #0f1108;
    background-color: #CECBD8;
    margin: 1px 2px;
    padding: 6px 2px;
    border-radius: 8px;
}

#battery,
#battery.charging, 
#battery.plugged {
    color: #0f1108;
    background-color: #CDEBC5;
    margin: 1px 2px;
    padding: 6px 2px;
    border-radius: 8px;
}

#network,
#network.disconnected {
    color: #0f1108;
    background-color: #DFC4D1;
    margin: 1px 2px;
    padding: 6px 2px;
    border-radius: 8px;
}

#pulseaudio,
#pulseaudio.muted {
    color: #0f1108;
    background-color: #EFBECA;
    margin: 1px 2px;
    padding: 6px 2px;
    border-radius: 8px;
}

#clock {
    color: #0f1108;
    background-color: #FFB7C3;
    margin: 1px 0px;
    padding: 6px 2px;
    border-radius: 8px;
    font-weight: bold;
}

#window {
    background-color: #8a6f91;
    padding: 4px 8px;
    margin: 0px 1px;
    border-radius: 8px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#tray > .passive {
    -gtk-icon-effect: dim;
    margin: 1px 2px;
    padding: 2px 6px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    /* color: #ffffff; */
    color: #4d4d4d;
    /* background-color: #00807E; */
    padding: 0 5px;
    margin: 1px 2px;
    min-width: 16px;
    border-radius: 8px;
}
